<div class="container-fluid fixed_navi" [ngClass]="{'fixed_navbar': fixedboolean}">
  <div class="row">
    <div class="logo offset-1 col-8 offset-md-1 col-md-4 center-text">
      Skrzeszewski.pl
    </div>
    <ul class="navi_list col-md-6 d-none d-md-inline-flex m-0">
      <li class="navigate active_navi" (click)="ScrollToElement('#about_section')">O mnie</li>
      <li class="navigate" (click)="ScrollToElement('#abilities_section')">Umiejętności</li>
      <li class="navigate" (click)="ScrollToElement('#portfolio_section')">Portfolio</li>
      <li class="navigate" (click)="ScrollToElement('#contact_section')">Kontakt</li>
    </ul>
  </div>
</div>
