<div class="container-fluid fixed_navi" [ngClass]="{'fixed_navbar': fixedboolean}">
  <div class="row">
    <div class="menu_bars col-3 d-none">
      <a><i class="fas fa-bars"></i></a>
    </div>
    <div class="logo col-6 col-sm-3 offset-md-1">
      logo
    </div>

    <ul class="navi_list col-sm-9 col-md-7 d-none d-sm-inline-flex m-0">
      <li class="navigate active_navi">O mnie</li>
      <li class="navigate">Umiejętności</li>
      <li class="navigate">Portfolio</li>
      <li class="navigate">Kontakt</li>
    </ul>
  </div>
</div>
