@import "../../../assets/styles/global";



.keyframes(rollimg, {
0% {
  right: -300px;
  opacity: 0;
.rotate(10deg);

}
60% {
  right: 90px;
.rotate(369deg);
  opacity: 0.8;
}
100% {
  right: 0;
  opacity: 1;
}
});
.keyframes (scrollup, {
        0% {
          top: 0;
        }
      50% {
        top: 10px;
      }
        100% {
          top: 0;
        }
      });

.keyframes(slide, {
0% {
  opacity: 0;
  -webkit-transform: scale3d(0.2, 0.2, 0.2);
  transform: scale3d(0.2, 0.2, 0.2);
}
  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1)
  }});

.keyframes(fade_out, {
  0% {
    opacity: 1;

    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1)
  }
  100% {
    opacity: 0;
    -webkit-transform: scale3d(0.2, 0.2, 0.2);
    transform: scale3d(0.2, 0.2, 0.2);
  }
});
.keyframes(moveIcon, {
49% {
  -webkit-transform: translateX(100%);
}
50% {
  opacity: 0;
  -webkit-transform: translateX(-100%);
}
51% {
  opacity: 1;
}
});




#first_section {
  height: 100vh;

}
#mycanvas {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: gray;
}
.small_navbar {
  @media @small {
    display: none;
  }
}

#small_navi_ul {
  .list-style-none;
}
.hide_navi {
  height: 150px;
  .absolute;
  top: @navbar_height;
  background-color: gray;
  left: 0;
  z-index: 9;
  .w(100%);
  .basic_transition;
  @media @small {
    .d-none;
  }
}
.show_navi {
  top: @navbar_height + 150px;
  .basic_transition;
  @media @small {
    .d-none;
  }
}

.small_navigation {
  .relative;
  top: @navbar_height;
  left: 0;
  height: 0;
  display: none;
  .w(100%);
  margin-top: 20px;
  .basic_transition;

}

.change_height {
  display: block;
  height: 120px;
  .basic_transition;
}




.left_first {
  .center-text;
  height: 100vh;
  background-color: gray;
        @media @small {
          background-color: whitesmoke;
        }
            button {
              margin-top: 20px;
            }
}
.right_first {
  background-color: dimgray;
  padding: 0;
}
.nav-item {
  .w(80%);
  margin: 0 auto;
  .c-pointer;
  &:hover {
    background-color: dimgray;
    color: white;
  }
  &:hover&:first-letter {
    color: @main-color;
  }
}
.navbar-collapse {
  margin-top: 10px;
}
.homesection {
  position: relative;
  top: 35%;
  z-index: 11;
  transform: translateY(-50%);
  @media @small {
    top: 50%;
  }
}
#first_btn_wrapper {

  margin: 60px -10px 0;
  background-color: red;

  button {
    margin-left: 10px;
    margin-top: 20px;
  }
  @media @small {
    margin-top: 100px;
  }
}
#pawelbold {
  color: @main-color;
}
#span_developer {
  color: @main-color;
}


                            //About me section
      #about_section {
        height: auto;
        background-color: @second-color;
        padding-bottom: 120px;
        .relative;
        &:after {
          .aftersection(rgb(41, 42, 46));
        }
      }
.separator {
  height: @navbar_height;
}     #about_left {
  padding: 40px 15px;
  color: whitesmoke;
      }
      #about_right {
        padding: 40px 10px;
        overflow-x: hidden;
      }
      .rounded-img {
        width: 300px;
        height: 300px;
        border-radius: 50%;
        margin: 0 auto;
        right: -300px;
        opacity: 0;
        background-image: url("../../../assets/images/brown-wooden-dock-over-body-of-water-1227520.jpg");
        background-size: cover;
        background-position: center center;
        .relative;
        div {
          .relative;
          top: 100px;
          left: 150px;
        }
      }
      .rounded_shown {
        opacity: 1;
        right: 0;
        .rotate(360deg);
        //.custom_transition(all 0.9s linear);
        .animation(rollimg 1.2s linear);
      }


                    //Abilities section
          #abilities_section {
            padding-bottom: 40px;
            .relative;
            &:after {
              .aftersection(white);
              z-index: 3;
            }

            @media @medium {
              padding-bottom: 100px;
            }

          }


      #abilisties_ul {
      .list-style-none;
        padding: 20px;
        .w(100%);
              li {
                background-color: lightgray;
                line-height: 26px;
                height: 26px;
                margin-top: 10px;
                font-size: 13px;
                padding: 0;
                .w(100%);

                .d-inline;
                border-radius: 5px;
                clear: both;

                        div {
                          background-color: lighten(darkred, 10%);
                          color: white;
                          line-height: 26px;
                          border-radius: 5px;
                          .d-inline;
                            span {
                              padding: 5px;
                              border-radius: 5px 0 0 5px;
                              background-color: darkred;
                            }

                        }

              }
        li > span {
          float: right;
          margin-right: 5px;
        }
      }

      .eighty {
        .w(80%);
      }
      .sixty {
        .w(60%);
      }
      .fourty {
        .w(40%);
      }
      .fifty {
        .w(50%);
      }
      .progress-bar-striped {
        text-align: left;
        line-height: 26px !important;
      }
      .progress {
        .w(50%);
        height: 26px !important;
      }

      .progress-bar {
      }
      .progress-bar-animated {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }





      //Portfolio Section
              #portfolio_section {
                background-color: @second-color;
                z-index: 1;
                .relative;
                padding-bottom: 40px;
                padding-right: 10px;
                &:after {
                  .aftersection(@second-color);
                }
                @media @medium {
                  padding-bottom: 100px;
                }
              }
.filters {
  .center-text;
  margin: 0 auto 40px auto;
  .c-pointer;
  .relative;
  width: auto;
  z-index: 2;
}
.one_filter {
  .d-inline;
  margin-left: 15px;
  padding: 5px 30px;
  .custom_transition(all 0.7s ease);
  z-index: 99 !important;
  color: whitesmoke;
  text-transform: uppercase;
}
.active_filter {
  background-color: @main-color;
  width: 138px;
  height: 34px;
  .absolute;
  left: 0;
  z-index: -1;
  color: white;
  top: 0;
  .custom_transition(all 0.7s ease);
}

              .projects_wrapper {
                padding: 20px;
              }
              .one_project {
                .relative;
                border: 1px solid whitesmoke;
                .w-calc(100%, 20px);
                height: 300px;
                opacity: 0;
                z-index: 1;
                margin: 15px 10px 0;
                .d-inline;
                &:after {
                  .absolute;
                  content: '';
                  height: 0;
                  .w(100%);
                  background-color: rgba(225,225,225, 0.1);
                  bottom: 0;
                  left: 0;
                  .custom_transition(all 0.2s ease-in);
                  z-index: -1;
                }
                &:hover #project_btn {
                  opacity: 1;
                  left: 50%;
                }
                &:hover #project_span {
                  opacity: 1;
                  left: 50%;
                }
                &:hover&:after {
                  height: 100%;
                }
                @media @small {
                  .w-calc(50%, 17px);
                  margin-left: 15px;
                  margin-right: 0;
                }
                @media @medium {
                  .w-calc(33.333%, 17px);
                  height: 400px;
                }

              }
             #project_btn {
               .absolute;
               left: 20%;
               transform: translateX(-50%);
               opacity: 0;
               bottom: 50px;
               .custom_transition(all 0.4s ease);
             }
             #project_span {
               .absolute;
               left: 80%;
               color: white;
               opacity: 0;
               transform: translateX(-50%);
               top: 30px;
               .custom_transition(all 0.4s ease);
               &:first-letter {
                 color: @main-color;
                 font-weight: 900;
                 font-size: 120%;
               }

             }
             .shown_projects {
               opacity: 1;
               -webkit-transform: scale3d(1, 1, 1);
               transform: scale3d(1, 1, 1);
                 .animation(slide 0.5s ease);

               &:nth-child(1) {
                 .animation(slide 1.3s ease);
               }
               &:nth-child(2) {
                 .animation(slide 1.7s ease);
               }
               &:nth-child(3) {
                 .animation(slide 2.1s ease);
               }
               &:nth-child(4) {
                 .animation(slide 2.5s ease);
               }
               &:nth-child(5) {
                 .animation(slide 2.9s ease);
               }
               &:nth-child(6) {
                 .animation(slide 3.3s ease);
               }
             }

                  //Contact Section
              #contact_section {
                padding-bottom: 280px !important;
                position: relative;
                overflow-x: hidden;
                -ms-overflow-x: hidden;
                @media @medium {
                  padding-bottom: 120px;
                }
              }
              #contact_header {
                margin-bottom: 0;
              }
              .header_show {
                .custom_transition(0.6s all ease-in);
                opacity: 1 !important;
                top: 0 !important;
              }
              .footer {
                position: absolute;
                bottom: 0;
                left: 0;
                padding: 0;
                color: whitesmoke;
                .center-text;
                .w(100%);
                background-color: rgb(41, 42, 46);
              }



              .half-width {
                .w-calc(50%, 20px);
                margin-left: 20px;
              }
              .full-width {
                margin-left: 20px;
                .w-calc(100%, 20px);
              }
              #btn_wrapper {
                .w(100%);
                .center-text;
              }
              .myform {
                margin-top: 40px;
                @media @medium {
                  margin-top: 110px;
                }
              }
                .right_contact_shown {
                  left: 0 !important;
                  opacity: 1 !important;
                  .custom_transition(all 0.7s linear);
                }
                #contact_wrapper {
                  left: 60%;
                  opacity: 0;
                  .relative;
                }



              .left_contact_wrapper {
                font-size: 130%;

                div {
                  span {
                    color: @main-color;
                    font-weight: bold;
                  }
                  a{
                    color: gray !important;
                  }
                }

              }
                .form-control {

                  &:focus {
                    box-shadow: none !important;
                    border: 1px solid @main-color;
                  }
                }




                      //every section
                  .hearder_section {
                    margin: 70px 0 0;
                    .center-text;
                    color: @main-color;
                    font-weight: bold;
                    text-transform: uppercase;
                    font-size: 50px !important;
                    opacity: 0;
                    top: -100px;
                    overflow-x: hidden;
                    .relative;
                    @media @medium {
                      margin: 100px 0 0px;
                    }
                  }
                  .myhoverbtn {
                    font-size: 22px;
                    overflow: hidden;
                    border: @main-color 1px solid;
                    &:after {
                      background-color: @main-color;
                      width: 0;
                      height: 100%;
                      top: 0;
                      left: 0;
                    }
                    &:hover&:after {
                      width: 100%;
                    }
                  }
                  ::ng-deep .mat-button-focus-overlay {
                    background-color: @main-color !important;
                  }


                  #linked_span {
                    background-color: whitesmoke;
                    display: inline-block;
                    .relative;
                    border-radius: 50%;
                    width: 44px !important;
                    height: 44px !important;
                    text-align: center;
                    top: -3px;
                              i {
                                color: @second-color;
                                font-size: 34px!important;
                                line-height: 44px;
                              }
                      &:hover i {
                        color: white;
                      }
                      &:hover {
                        background-color: @main-color;
                      }
                  }

                                                           #footer_icons {
                                                             height: 100%;
                                                             width: 100%;
                                                             margin: 0;
                                                             padding: 50px 10px;
                                                             .relative;
                                                             &:before {
                                                               width: 0;
                                                               height: 0;
                                                               content: "";
                                                               .absolute;
                                                               top: 0;
                                                               right: 0;
                                                               transform: translateY(-100%);
                                                               border-style: solid;
                                                               border-width: 100px 0 100px 100px ;
                                                               border-color: transparent transparent rgb(41, 42, 46) transparent;
                                                             }
                                                             a {
                                                               margin-left: 15px;
                                                               .c-pointer;
                                                               outline: 0;
                                                               color: white;
                                                             }
                                                           }
                           .fa-facebook {
                             .relative;
                             left: -300px;
                             opacity: 0;
                             line-height: 54px;
                             font-size: 44px;
                             z-index: 1;


                             &:after {
                               .roll_icons_after('\f09a', @main-color);
                               background-color: white;
                               font-size: 46px;
                               .w(45px) !important;
                             }


                             &:hover&:after {
                                opacity: 1;
                             }


                           }

                 .fa-github {
                   .relative;
                   left: 300px;
                   opacity: 0;
                   line-height: 54px;
                   font-size: 44px;
                   &:after {
                     .roll_icons_after('\f09b', @main-color);
                     background-color: white !important;
                     line-height: 44px;
                     font-size: 47px !important;
                   }
                   &:hover&:after {
                     opacity: 1 !important;
                   }
                 }

                 .roll_facebook {
                  left: 0 !important;
                   .roll_icons_footer(720deg);
                 }
                 .roll_github {
                   left: 0 !important;
                   .roll_icons_footer(-720deg);
                 }
                 .scrollbtn {
                   padding: 15px;
                   background-color: white;
                   .absolute;
                   top: 0;
                   left: 20%;
                   .c-pointer;
                   &:hover i {
                     animation-play-state: paused;
                     -webkit-animation-play-state: paused;
                     -moz-animation-play-state: paused;
                     -o-animation-play-state: paused;
                   }
                   i {
                     color: @main-color;
                     font-size: 22px;
                     .relative;
                     .animation(scrollup 1.4s infinite);
                   }

                 }


.header_separator {
  width: 100px;
  .relative;
  opacity: 0;
  right: -300px;
  height: 4px;
  background-color: red;
  .d-block;
  .center-text;
  margin: 20px auto 80px;
}
.separator_show {
  .animation(rollimg 1.2s ease-in);

  opacity: 1;
  right: 0;
}

