@import "../../../assets/styles/global";






      //First Section
          #first_section {
            height: 100vh;
            background-image: url("../../../assets/images/background.jpg");
            background-position: center center;
            background-size: cover;
            .relative;
            &:after {
              content: '';
              .absolute;
              left: 0;
              top: 0;
              .w(100%);
              height: 100%;
              background-color: rgba(0,0,0,0.4);
            }
          }
#front_btn {
  margin-top: 50px;
  padding: 0 20px;
  &:before {
    content: 'Poznaj Mnie!';
  }
  &:after {
    content: '\f103';
  }
}
#mycanvas {
  width: 100%;
  height: 100%;
  margin: 0;
}
.navbar-brand {
  font-family: 'Abril Fatface', cursive;
  font-weight: bold;
}
.navbar-toggler {
  margin: 0;
}
.small_navbar {
  z-index: 4;
  @media @small {
    display: none;
  }
}
#typewrite {
  .relative;
  font-family:"Open Sans", monospace;
  color: whitesmoke;
  strong {
    color: red !important;
  }
  &:after {
    content: "";


  }
}

#small_navi_ul {
  .list-style-none;
}
.hide_navi {
  height: 150px;
  .absolute;
  top: @navbar_height;
  background-color: gray;
  left: 0;
  z-index: 9;
  .w(100%);
  .basic_transition;
  @media @small {
    .d-none;
  }
}
.show_navi {
  top: @navbar_height + 150px;
  .basic_transition;
  @media @small {
    .d-none;
  }
}

.small_navigation {
  .relative;
  top: @navbar_height;
  left: 0;
  height: 0;
  display: none;
  .w(100%);
  margin-top: 20px;
  .basic_transition;

}

.change_height {
  display: block;
  height: 120px;
  .basic_transition;
}




.left_first {
  .center-text;
  height: 100vh;
        @media @small {
        }

}
.right_first {
  //background-color: dimgray;
  padding: 0;
}
.nav-item {
  .w(80%);
  margin: 0 auto;
  .c-pointer;
  color: white;
  font-weight: bold;

&:first-letter {
    color: @main-color;
  }
}
.navbar-collapse {
  margin-top: 10px;
}
.homesection {
  position: relative;
  top: 28%;
  z-index: 11;
  transform: translateY(-50%);
  @media @small {
    top: 40%;
  }
  @media @medium {
    border-right: solid 1px whitesmoke;
  }
}
#first_btn_wrapper {

  margin: 60px -10px 0;
  background-color: red;

  button {
    margin-left: 10px;
    margin-top: 20px;
  }
  @media @small {
    margin-top: 100px;
  }
}
#pawelbold {
  color: @second-color;
  font-size: 40px;
  @media @medium {
    font-size: 50px;
  }


  strong {
    -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: @second-color;

  }
}
#span_developer {
  color: @main-color !important;
}
::ng-deep .mat-snack-bar-container {
  background-color: forestgreen;
}



                            //About me section
      #about_section {
        height: auto;
        background-color: @second-color;
        padding-bottom: 80px;
        .relative;
        &:after {
          .aftersection(rgb(41, 42, 46));
        }
        &:before {
          content: "ANGULAR";
          font-size: 140px;
          -webkit-text-fill-color: @second-color; /* Will override color (regardless of order) */
          -webkit-text-stroke-width: 1px;
          -webkit-text-stroke-color: white;
          .absolute;
          bottom: 0;
          opacity: 0.2;
          right: 10px;
          transform: rotate(90deg) translateX(-40%) translateY(-100%);
        }

        h2.hearder_section {
          margin: 50px 0 0;
          @media @medium {
            margin: 70px 0 0;
          }
        }
      }
      .about_info_icons {
        height: 80px;
        .w(auto);
        .d-inline;
        filter: brightness(0) invert(1);
        -webkit-filter: brightness(0) invert(1);
        opacity: 0;
        .relative;
        top: -145px;
      }
      .about_info_icons_shown {
        opacity: 1;
        top: 0;
        .basic_transition;
      }
.separator {
  height: @navbar_height;
}     #about_left {
  padding: 0 15px;
  color: whitesmoke;
  font-size: 1rem;
  @media @medium {
    font-size: 1.2rem;
  }
  @media @large {
    font-size: 1.4rem;
  }
          h4 {
            .center-text;
          }
      }
      #hobbies_description {
        margin-top: 20px;
        color: white;


      }
      #about_left_info {
      div.col-12 {
        margin-top: 30px;
        .center-text;
        @media @medium {
          margin-top: 10px;
        }
      }
        h3 {
          font-size: 1.1rem;
          @media @medium {
            font-size: 1.3rem;
          }
          @media @large {
            font-size: 1.5rem;
          }

          &:first-letter {
            color: @main-color;
          }
        }
      }
      #hobbies {
        .center-text;
        div {
          .d-inline;
          .center-text;
          margin-left: 20px;

          p {
            .relative;
            left: 10px;
            padding-top: 20px;
          }
        }
        span {
          margin-top: 20px;
          .w(85px);
          height: 85px;
          background-color: white;
          display: inline-flex;
          justify-content: center;
          align-items: center;
          margin-left: 20px;
          -webkit-box-shadow: 8px 8px 15px -1px rgba(0, 0, 0, 0.8);
          -moz-box-shadow: 8px 8px 15px -1px rgba(0, 0, 0, 0.8);
          box-shadow: 8px 8px 15px -1px rgba(0, 0, 0, 0.8);
          .c-pointer;
          .relative;
          &:after {
            .aftericons;
          }
        }
        #first_span {
          &:after {
            left: -30px;
            transform: rotate(270deg);
          }
        }
        #sec_span {
          &:after {
            bottom: -30px;
            transform: rotate(180deg);
          }

        }
        #third_span {
          &:after {
            right: -30px;
            transform: rotate(90deg);
          }

        }
        img {
          height: 80%;
          width: auto;

        }
      }
      #about_right {
        padding: 40px 10px 0;
        //overflow-x: hidden;
      }




                    //Abilities section
          #abilities_section {
            padding-bottom: 40px;
            .relative;
            &:after {
              .aftersection(white);
              z-index: 3;
            }

            @media @medium {
              padding-bottom: 100px;
            }

          }
          .left_skills {
            font-size: 1rem;
            text-align: justify;
            @media @medium {
              font-size: 1.2rem;
            }
            @media @large {
              font-size: 1.4rem;
            }

            &:first-letter {
              margin-left: 30px;
              color: @main-color;
              font-size: 1.3rem;
              font-weight: bold;
            }
            span {
              color: @main-color;
              font-weight: 600;
            }
          }
          #left_skills_icons {
            display: flex;
            justify-content: space-around;
            margin-top: 40px;
            padding-bottom: 40px;

            div {
              vertical-align: top;
            }

            span {
              background-color: @main-color;
              .w(50px);
              height: 50px;
              display: flex;
              justify-content: center;
              align-items: center;
              transform: rotate(45deg);
              box-shadow: 10px 10px 10px 0 #ccc;
              -webkit-box-shadow: 10px 10px 10px 0 #ccc;
              -moz-box-shadow: 10px 10px 10px 0 #ccc;

              @media @small {
                .w(60px);
                height: 60px;
              }
              @media @medium {
                .w(85px);
                height: 85px;
              }


            }
            img {
              width: 70%;
              height: auto;
              transform: rotate(-45deg);
              filter: brightness(0) invert(1);
              -webkit-filter: brightness(0) invert(1);

            }
            #bigger_img {
              .w(95%);
            }

            h3 {
              //margin-left: -60px;
              word-wrap: break-word;
              margin-bottom: 20px;
              margin-left: -10px;
              .font-bold;
              @media @small {
                margin-left: -40px;
                transform: rotate(-45deg);
              }
            }

          #less_margin {
            margin-left: -20px;
            margin-top: -20px;
            margin-bottom: 40px;
            @media @small {
              margin-left: -60px;
              margin-bottom: 20px;
              margin-top: 0;
            }
          }
          }


      #abilisties_ul {
      .list-style-none;
        padding: 20px;
        .w(100%);
              li {
                background-color: lightgray;
                line-height: 26px;
                height: 26px;
                margin-top: 10px;
                font-size: 13px;
                padding: 0;
                .w(100%);

                .d-inline;
                border-radius: 5px;
                clear: both;

                        div {
                          background-color: lighten(darkred, 10%);
                          color: white;
                          line-height: 26px;
                          border-radius: 5px;
                          .d-inline;
                            span {
                              padding: 5px;
                              border-radius: 5px 0 0 5px;
                              background-color: darkred;
                            }

                        }

              }
        li > span {
          float: right;
          margin-right: 5px;
        }
      }

      .eighty {
        .w(80%);
      }
      .sixty {
        .w(60%);
      }
      .fourty {
        .w(40%);
      }
      .fifty {
        .w(50%);
      }
      .progress-bar-striped {
        text-align: left;
        line-height: 26px !important;
      }
      .progress {
        .w(50%);
        height: 26px !important;
      }

      .progress-bar {
      }
      .progress-bar-animated {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }





      //Portfolio Section
              #portfolio_section {
                background-color: @second-color;
                z-index: 1;
                .relative;
                padding-bottom: 40px;
                padding-right: 10px;
                &:after {
                  .aftersection(@second-color);
                }
                @media @medium {
                  padding-bottom: 100px;
                }
              }
.filters {
  .center-text;
  margin: 0 auto 40px auto;
  .c-pointer;
  .relative;
  width: auto;
  z-index: 2;
}
.one_filter {
  .d-inline;
  margin-left: 15px;
  padding: 5px 30px;
  .custom_transition(all 0.7s ease);
  z-index: 99 !important;
  color: whitesmoke;
  text-transform: uppercase;
}
.active_filter {
  background-color: @main-color;
  width: 138px;
  height: 34px;
  .absolute;
  left: 0;
  z-index: -1;
  color: white;
  top: 0;
  .custom_transition(all 0.7s ease);
}

              .projects_wrapper {
                padding: 20px;
              }
              .one_project {
                .relative;
                border: 1px solid whitesmoke;
                .w-calc(100%, 20px);
                height: 300px;
                opacity: 0;
                z-index: 1;
                margin: 15px 10px 0;
                .d-inline;
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
                overflow: hidden;
               &:nth-of-type(n + 4) {
                 background-position: left top;
               }
                &:after {
                  .absolute;
                  content: '';
                  height: 0;
                  .w(100%);
                  background-color: rgba(0,0,0, 0.7);
                  bottom: 0;
                  left: 0;
                  .custom_transition(all 0.2s ease-in);
                  z-index: -1;
                }
                &:hover #project_btn {
                  opacity: 1;
                  left: 50%;
                }
                &:hover #project_span {
                  opacity: 1;
                  left: 50%;
                }
                &:hover&:after {
                  height: 100%;
                }
                @media @small {
                  .w-calc(50%, 17px);
                  margin-left: 15px;
                  margin-right: 0;
                }
                @media @medium {
                  .w-calc(33.333%, 17px);
                  height: 400px;
                }

              }
             #project_btn {
               .absolute;
               left: 20%;
               transform: translateX(-50%);
               opacity: 0;
               bottom: 50px;
               .custom_transition(all 0.4s ease);
               &:before {
                 content: 'Zobacz';
               }
               &:after {
                 content: '\f52b';
               }
             }
             #project_span {
               .absolute;
               left: 80%;
               white-space: nowrap;

               color: white;
               opacity: 0;
               transform: translateX(-50%);
               top: 30px;
               .font-bold;
               font-size: 1.3rem;
               .custom_transition(all 0.4s ease);
               &:first-letter {
                 color: @main-color;
                 font-weight: 900;
                 font-size: 1.4rem;
               }

             }

             .shown_projects {
               opacity: 1;
               -webkit-transform: scale3d(1, 1, 1);
               transform: scale3d(1, 1, 1);
                 //.animation(slide 0.5s ease);
               .loop(6);

             }


                  //Contact Section
              #contact_section {
                padding-bottom: 280px;
                position: relative;
                overflow-x: hidden;
                -ms-overflow-x: hidden;
                @media @medium {
                  padding-bottom: 300px;
                }
                @media @large {
                  padding-bottom: 300px;
                }
              }
              #contact_header {
                margin-bottom: 0;
              }
              .header_show {
                .custom_transition(0.6s all ease-in);
                opacity: 1 !important;
                top: 0 !important;
              }
              .footer {
                position: absolute;
                bottom: 0;
                left: 0;
                padding: 0;
                color: whitesmoke;
                .center-text;
                .w(100%);
                background-color: rgb(41, 42, 46);
              }



              .half-width {
                .w-calc(50%, 20px);
                margin-left: 20px;
              }
              .full-width {
                margin-left: 20px;
                .w-calc(100%, 20px);
              }
              #btn_wrapper {
                .w(100%);
                .center-text;

              }
              #mail_btn {
                &:before {
                  content: 'Wyślij';
                }
                &:after {
                  content: '\f1d8';
                }
              }
              .myform {
                margin-top: 40px;
                @media @medium {
                  margin-top: 110px;
                }
              }
                .right_contact_shown {
                  left: 0 !important;
                  opacity: 1 !important;
                  .custom_transition(all 0.7s linear);
                }
                #contact_wrapper {
                  left: 60%;
                  opacity: 0;
                  .relative;
                }



              .left_contact_wrapper {

                div {
                  span {
                    color: @main-color;
                    font-weight: bold;
                  }
                  a {
                    text-decoration: inherit;
                    color: inherit;
                    cursor: auto;
                  }
                }

              }
                .form-control {
                  &:focus {
                    box-shadow: none !important;
                    border: 1px solid @main-color;
                  }
                }
                .left_contact_hidden {
                  .relative;
                  bottom: -180px;
                  opacity: 0;
                }
                .left_contact_show {
                  bottom: 0;
                  opacity: 1;
                  .custom_transition(0.2s all ease);
                  .foo(4);
                  font-size: 1rem;
                  @media @medium {
                    font-size: 1.2rem;
                  }
                  @media @large {
                    font-size: 1.4rem;
                  }
                  a {
                    &:hover {
                      opacity: 0.7;
                    }
                  }
                }





                      //every section
                  .hearder_section {
                    margin: 70px 0 0;
                    .center-text;
                    color: @main-color;
                    font-weight: bold;
                    text-transform: uppercase;
                    font-size: 35px;
                    opacity: 0;
                    top: -100px;
                    overflow-x: hidden;
                    .relative;
                    @media @medium {
                      margin: 100px 0 0px;
                      font-size: 50px;
                    }
                  }
                  .myhoverbtn {
                    font-size: 22px;
                    overflow: hidden;
                    border: @main-color 1px solid;
                    &:after {
                      background-color: @main-color;
                      width: 0;
                      height: 100%;
                      top: 0;
                      left: 0;
                    }
                    &:hover&:after {
                      width: 100%;
                    }
                  }
                  ::ng-deep .mat-button-focus-overlay {
                    background-color: @main-color !important;
                  }


                  #linked_span {
                    background-color: whitesmoke;
                    display: inline-block;
                    .relative;
                    border-radius: 50%;
                    width: 44px !important;
                    height: 44px !important;
                    text-align: center;
                    top: -3px;
                              i {
                                color: @second-color;
                                font-size: 34px!important;
                                line-height: 44px;
                              }
                      &:hover i {
                        color: white;
                      }
                      &:hover {
                        background-color: @main-color;
                      }
                  }

                                                           #footer_icons {
                                                             height: 100%;
                                                             width: 100%;
                                                             margin: 0;
                                                             padding: 50px 10px;
                                                             .relative;
                                                             &:before {
                                                               width: 0;
                                                               height: 0;
                                                               content: "";
                                                               .absolute;
                                                               top: 0;
                                                               right: 0;
                                                               transform: translateY(-100%);
                                                               border-style: solid;
                                                               border-width: 100px 0 100px 100px ;
                                                               border-color: transparent transparent rgb(41, 42, 46) transparent;
                                                             }
                                                             a {
                                                               margin-left: 15px;
                                                               .c-pointer;
                                                               outline: 0;
                                                               color: white;
                                                             }
                                                           }
                           .fa-facebook {
                             .relative;
                             left: -300px;
                             opacity: 0;
                             line-height: 54px;
                             font-size: 44px;
                             z-index: 1;


                             &:after {
                               .roll_icons_after('\f09a', @main-color);
                               background-color: white;
                               font-size: 46px;
                               .w(45px) !important;
                             }


                             &:hover&:after {
                                opacity: 1;
                             }


                           }

                 .fa-github {
                   .relative;
                   left: 300px;
                   opacity: 0;
                   line-height: 54px;
                   font-size: 44px;
                   &:after {
                     .roll_icons_after('\f09b', @main-color);
                     background-color: white !important;
                     line-height: 44px;
                     font-size: 47px !important;
                   }
                   &:hover&:after {
                     opacity: 1 !important;
                   }
                 }

                 .roll_facebook {
                  left: 0 !important;
                   .roll_icons_footer(720deg);
                 }
                 .roll_github {
                   left: 0 !important;
                   .roll_icons_footer(-720deg);
                 }
                 .scrollbtn {
                   padding: 15px;
                   background-color: white;
                   .absolute;
                   top: 0;
                   left: 20%;
                   .c-pointer;
                   &:hover i {
                     animation-play-state: paused;
                     -webkit-animation-play-state: paused;
                     -moz-animation-play-state: paused;
                     -o-animation-play-state: paused;
                   }
                   i {
                     color: @main-color;
                     font-size: 22px;
                     .relative;
                     .animation(scrollup 1.4s infinite);
                    // animation: scrollup 1.4s infinite;
                     //-webkit-animation: scrollup 1.4s infinite;
                   }

                 }


.header_separator {
  width: 100px;
  .relative;
  opacity: 0;
  right: -300px;
  height: 4px;
  background-color: red;
  .d-block;
  .center-text;
  margin: 20px auto 50px;
  @media @medium {
    margin-bottom: 80px;
  }
}
.separator_show {
  .animation(rollimg 1.2s forwards);
  opacity: 1;
  right: 0;
}
.hiddenicon {
  .relative;
  left: -300px;
  opacity: 0;
}
.showicon {
  left: 0;
  opacity: 1;
  .custom_transition(0.5s all ease-in);
  &:nth-of-type(3n) {
  .transition-delay(0.2s);
  }
  &:nth-of-type(3n - 1) {
    .transition-delay(0.6s);
  }
  &:nth-of-type(3n - 2) {
    .transition-delay(1s);

  }
}
.responsive_img {
  .relative;
  .w(100%);
  height: 0;
  right: -300px;
  opacity: 0;
  padding: 100% 0 0;
  border-radius: 50%;
  z-index: 3;
  //overflow: hidden;
  border: 1px solid white;


  .rounded-img {
    .absolute; width: 100%; height: 100%; top: 0; left: 0; object-fit: cover; border-radius: 50%; z-index: 3;
  }
}
.rounded_shown {
    opacity: 1;
   right: 0;
  .custom_transition(all 0.8s ease);
}
#content_length {
//.relative;
text-align: -webkit-right;
  margin-right: 10px;
  opacity: 0.7;
  font-size: 1rem;
}
.errors {
  background-color: @main-color;
  color: white;
  .w(100%);
  margin-top: 20px;
  .center-text;
  .relative;
  padding: 5px;
  top: 150px;
  font-size: 1.1rem;
  opacity: 0;

}
#success {
  background-color: forestgreen;
  transform: translateY(-100%);
}
.errorsShow {
  opacity: 1;
  .custom_transition(0.3s all ease);
  top: 0;
}
.succshow {
  .errorsShow;
  top: -20px;
}


