



<section id="first_section">







  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-md-6 left_first">





        <nav class="navbar navbar-dark navbar-expand-lg justify-content-lg-between justify-content-center small_navbar">
          <div class="navbar-brand">Paweł Skrzeszewski</div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="navbar-collapse justify-content-end collapse" id="navbarSupportedContent" #collapse>
            <div class="nav-item nav-link" (click)="ScrollToElement('#about_section')">O mnie</div>
            <div class="nav-item nav-link" (click)="ScrollToElement('#abilities_section')">Umiejętności</div>
            <div class="nav-item nav-link" (click)="ScrollToElement('#portfolio_section')">Portfolio</div>
            <div class="nav-item nav-link" (click)="ScrollToElement('#contact_section')">Kontakt</div>
          </div>
        </nav>



        <div class="homesection">
          <h1><b id="pawelbold">Paweł Skrzeszewski</b><br />
             front-end <span id="span_developer">d</span><span>eveloper</span> </h1>
        <button mat-raised-button class="header_btn" id="front_btn" (click)="ScrollToElement('#about_section')">Poznaj Mnie!</button>


        </div>

      </div>
      <div class="d-none col-md-6 d-md-inline-block right_first">
        <canvas id="mycanvas" #canvas>

        </canvas>
        <button (click)="drawball()"></button>
      </div>

    </div>

  </div>
</section>
                  <!-- 2nd section-->
        <section id="about_section" #about_section>
                    <!-- navigation-->
                    <app-navigation #navigation (small_navi_out)="childnavi($event)"></app-navigation>

          <div class="container-fluid">
            <div class="row">
              <div class="col-12 center-text">
                <h2 class="hearder_section" [ngClass]="{'header_show': about_header_boolean}">O MNIE</h2>
                <div class="header_separator" [ngClass]="{'separator_show': about_header_boolean}"></div>
              </div>
              <div class="col-12 offset-md-1 col-md-6" id="about_left">
                Pochodzę z Polski i mam 27 lat. Dorastałem w małym mieście nieopodal Olsztyna. Ukończyłem Uniwersytet Warmińsko-Mazurski z tytułem inżyniera na kierunku Zarządzanie
                i Inżynieria Produkcji.
                Obecnie mieszkam w Gdańsku i rozwijam się dalej jako front-end developer w pracy z własnymi projektami.
                Jestem otwarty na wszelkie formy współpracy które pozwolą mi doskonalić moją wiedzę. Prywatnie jestem bardzo miłym człowiekiem,
                uwielbiam piłkę nożną, kolarstwo i dobrą kawę :)
              </div>
              <div class="col-12 col-md-4" id="about_right">
                <div class="rounded-img" [ngClass]="{'rounded_shown': about_header_boolean}"><div><i class="fab fa-linkedin-in"></i></div></div>
              </div>
            </div>
          </div>
        </section>

                        <!-- Skills section-->
                        <section id="abilities_section" #abilities>
                          <div class="container-fluid">
                            <div class="row">
                              <div class="col-12" #col12heared>
                                <h2 class="hearder_section" [ngClass]="{'header_show': skill_header_boolean}">Umiejętności</h2>
                               <div class="header_separator" [ngClass]="{'separator_show': skill_header_boolean}"></div>
                              </div>
                              <div class="col-12 offset-md-1 col-md-10">
                                <div class="row">


                                <div class="col-12 col-md-7 left_skills">
                                  Programowaniem front-endowym zaraziłem się ponad 4 lata temu. Od samego początku mojej przygody to ekosystem <span>Javascript</span> inspirował mnie do robienia coraz większych raczy i pogłebiania swojej wiedzy w tym kierunku.
                                  Obecnie moją prawdziwą pasją jest tworzenie interaktywnych i responsywnych stron internetowych oraz aplikacji typu SPA do których wykorzystuję framework Javascript - <span>Angular</span> oraz <span>TypeScript</span>. Aplikacje styluje używając preprocesorów CSS zamiennie <span>LESS</span> i <span>Sass</span>.
                                  Strukturę moich aplikacji stanowią oczywiście elementy HTML. W tworzeniu responsywnych aplikacji wspomagam się przeważnie frameworkiem Bootstrap stosując techniki <span>RWD</span> z motywem przewodnim "mobile first". W pracy z ostatnimi projektami nabyłem również cenne
                                  umiejętności w zakresie pozycjonowania oraz testowania aplikacji klienckich. Gwarantuje jednocześnie, że moje aplikacje w wersji finalnej będą:
                                  <div id="left_skills_icons">
                                    <div>
                                      <h6>Responsywne</h6>
                                      <span>
                                      <img src="../../../assets/images/home_responsive.png">
                                    </span>
                                    </div>
                                    <div>
                                      <h6 id="less_margin">Przyjazne SEO</h6>
                                      <span>
                                       <img src="../../../assets/images/home_SEO.png">
                                    </span>
                                    </div>
                                    <div>
                                      <h6>Szybkie</h6>
                                      <span>
                                       <img src="../../../assets/images/speed-icon-png-19.png" id="bigger_img">
                                    </span>
                                    </div>






                                  </div>
                                </div>
                                <div class="col-12 col-md-5 abilities_rows">
                                  <ul id="abilisties_ul" class="m-0 p-0" >

                                    <li class="progress-bar-striped"><div class="eighty progress-bar-striped progress-bar-animated" [@Animatepercents]="state"><span>HTML5</span></div><span class="percent_span"></span></li>
                                    <li class="progress-bar-striped"><div class="eighty progress-bar-striped progress-bar-animated" [@Animatepercents]="state"><span>CSS/LESS/SCSS</span></div><span class="percent_span"></span></li>
                                    <li class="progress-bar-striped"><div class="eighty progress-bar-striped progress-bar-animated" [@Animatepercents]="state"><span>Angular 4+</span></div><span class="percent_span"></span></li>
                                    <li class="progress-bar-striped"><div  class="eighty progress-bar-striped progress-bar-animated" [@Animatepercents]="state"><span>JavaScript, TypeScript</span></div><span class="percent_span"></span></li>
                                    <li class="progress-bar-striped"><div class="sixty progress-bar-striped progress-bar-animated" [@Animatepercents]="state"><span>Bootstrap</span></div><span class="percent_span"></span></li>
                                    <li class="progress-bar-striped"><div class="fourty progress-bar-striped progress-bar-animated" [@Animatepercents]="state"><span>TDD, Jasmine, Karma</span></div><span class="percent_span"></span></li>
                                    <li class="progress-bar-striped"><div class="sixty progress-bar-striped progress-bar-animated" [@Animatepercents]="state"><span>RWD</span></div><span class="percent_span"></span></li>
                                    <li class="progress-bar-striped"><div  class="fifty progress-bar-striped progress-bar-animated" [@Animatepercents]="state"><span>SEO</span></div><span class="percent_span"></span></li>
                                    <li class="progress-bar-striped"><div  class="fourty progress-bar-striped progress-bar-animated" [@Animatepercents]="state"><span>Git, Webpack</span></div><span class="percent_span"></span></li>
                                    <li class="progress-bar-striped"><div  class="sixty progress-bar-striped progress-bar-animated" [@Animatepercents]="state"><span>NPM</span></div><span class="percent_span"></span></li>
                                    <li class="progress-bar-striped"><div  class="fourty progress-bar-striped progress-bar-animated" [@Animatepercents]="state"><span>Wordpress</span></div><span class="percent_span"></span></li>
                                  </ul>
                                </div>
                                </div>
                              </div>


                            </div>
                          </div>
                        </section>


        <!-- Portfolio section-->
          <section id="portfolio_section" #portfolio>
            <div class="container-fluid">
              <div class="row">
                <div class="col-12">
                  <h2 class="hearder_section" [ngClass]="{'header_show': portfolio_header_boolean}">Portfolio</h2>
                  <div class="header_separator" [ngClass]="{'separator_show': portfolio_header_boolean}"></div>
                </div>
                <div class="filters">
                  <div class="active_filter"></div>

                  <div class="one_filter" (click)="changefilter($event)" data-target="all" #first_filter>Wszystkie</div>
                  <div class="one_filter" (click)="changefilter($event)" data-target="JavaScript">JavaScript</div>
                  <div class="one_filter" (click)="changefilter($event)" data-target="Wordpress">Wordpress</div>
                  <div class="one_filter" (click)="changefilter($event)" data-target="Angular">Angular</div>      <!-- [@listStagger]='projects.length-->
                </div>
                <div class="col-12 offset-md-1 col-md-10 p-0 projects_wrapper" >
                  <div class="one_project" *ngFor="let project of projects | filter: filters" [ngClass]="{'shown_projects' : portfolio_header_boolean}" [@hide_projects] = "project.state" [ngStyle]="{'background-image':' url(' + project.img_url + ')'}">
                   <span id="project_span">{{project.name}}</span>
                    <button mat-raised-button class="header_btn" id="project_btn" (click)="openProjectDetails(project, $event)">Szczegóły</button>
                  </div>
                </div>


              </div>
            </div>
          </section>

        <!-- Contact section-->
        <section id="contact_section" #contact>
          <div class="container-fluid">
            <div class="row">

                      <!-- Left Side-->
              <div class="col-12 offset-md-1 col-md-5">
                <h2 class="hearder_section" id="contact_header" [ngClass]="{'header_show': contact_header_boolean}">Kontakt</h2>
                <div class="header_separator" [ngClass]="{'separator_show': contact_header_boolean}"></div>
                <div class="left_contact_wrapper">
                  <div><span>E-mail:</span> <a href="mailto:pawelskrzeszewski92@gmail.com"> pawelskrzeszewski92@gmail.com</a></div>
                  <div><span>Github:</span> <a target="_blank" rel="noopener noreferrer" href="https://github.com/skrzeku"> https://github.com/skrzeku</a></div>
                  <div><span>LinkedIn:</span> <a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/paweł-skrzeszewski-847a3413a/"> /in/paweł-skrzeszewski-847a3413a/</a></div>
                  <div><span>Telefon:</span> +48 512070640</div>
                </div>
              </div>

                    <!-- Right Side-->
              <div class="col-12 col-md-5" id="contact_wrapper" [ngClass]="{'right_contact_shown': contact_header_boolean}">
                <form class="myform" >
                  <div class="form-group">
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Imię i nazwisko" [ngModel]="name" name="name">
                  </div>
                  <div class="form-group">
                    <input type="email" class="form-control" id="exampleInputPassword1" placeholder="E-mail" [ngModel]="email" name="email">
                  </div>
                  <div class="form-group">
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Treść wiadomości" [ngModel]="content" name="content"></textarea>
                  </div>
                </form>
                <div id="btn_wrapper">
                  <button mat-raised-button class="header_btn" id="mail_btn" (click)="SendMail()">Wyślij</button>
                </div>
              </div>

              <div class="col-12 footer">
                <div id="footer_icons">
                  <a id="facebook_span" target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/pawelskrzeszewski92">
                    <i class="fab fa-facebook" [ngClass]="{'roll_facebook': spansboolean}"></i>
                  </a>
                  <a id="linked_span" target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/paweł-skrzeszewski-847a3413a/">
                    <i class="fab fa-linkedin-in"></i>
                  </a>
                  <a target="_blank" rel="noopener noreferrer" href="https://github.com/skrzeku">
                    <i class="fab fa-github" [ngClass]="{'roll_github': spansboolean}"></i>
                  </a>

                  <a class="scrollbtn" (click)="ScrollToElement('#first_section')"><i class="fas fa-angle-double-up"></i></a>
                </div>
                <p>Copyright © 2019 Website - Paweł Skrzeszewski all rights reserved</p>
              </div>
            </div>
          </div>
        </section>
