@import "../../../assets/styles/global";


.details_bigOne {
  overflow-y: auto !important;
  height: 84vh;
  overflow-x: hidden;

  .relative;
  padding: 0;
  @media @medium {
    height: 600px;
  }
}
#close_details {
text-decoration: none;
}
.right_details {
  position: relative;
  .d-inline;

  @media @medium {
    transform: translateX(100%);
  }

}
#carouselExampleIndicators {
  .relative;
  border-bottom: solid 3px black;
  &:after {
    content: "";
    width: 100%;
    .absolute;
    height: 2px;
    background-color: @main-color;
    left: 0;
    bottom: -5px;
    z-index: 4;
  }
}

 ::ng-deep .mat-dialog-container {
  padding: 0;


  @media @medium {
    padding: 20px;
  }
}
.carousel-indicators {
  li {
    background-color: black;
  }
}
.carousel-control-prev-icon, .carousel-control-next-icon {
  background-color: black;
  height: 60px;
  width: 40px;
  left: 0;
  //padding: 10px;
}
.carousel-control-next {
  justify-content: flex-end;
}
.carousel-control-prev {
  justify-content: left;
}
.button_wrappers {
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: space-around;

  @media @medium {
    bottom: 0;
  }
}

        #github_btn {
          &:before {
            content: 'Github';
          }
          &:after {
            content: '\f09b';
            font-family: 'Font Awesome 5 Brands';
          }
        }
        #site_btn {
          &:before {
            content: 'Strona';
          }
          &:after {
            content: '\f108';
          }
        }
        #leave_btn {
          &:before {
            content: 'Wyjdź';
          }
          &:after {
            content: '\f52a';
          }
        }
#gray_hover {
  .w(100%);
  margin: 20px 0 40px;
  background-color: lighten(lightgray, 10%);
  .center-text;
  &:first-letter {
    color: @main-color;
    font-size: 120%;
  }
  @media @medium {
    margin-bottom: 70px;
  }
}
#description_wrapper {
  border: solid 1px lightgray;
  border-radius: 8px;
  margin-top: 30px;
  h5 {
    border-bottom: solid 1px lightgray;
    padding: 10px;
    background-color: lighten(lightgray, 10%);
    border-radius: 8px 8px 0 0;
  }
  p {
    padding: 10px;
  }
}
.left_details {
  h2 {
    &:first-letter {
      color: @main-color;
    }
  }
  .d-inline;
  padding: 10px 25px 20px;
  @media @medium {
    height: 580px;
    transform: translateX(-100%);
  }

  span {
  .relative;
    margin-left: 80px;

  &:before {
    content: '';
    .absolute;
    left: -80px;
    top: 50%;
    transform: translateY(-50%);
    height: 1px;
    width: 78px;
    background-color: black;
  } }
}
#right_icons_wrapper {
  padding: 10px;
  margin-top: 20px;
  .w(100%);
  text-align: center;
  h4 {
    margin: 0 0 20px;
  }

  img {
    height: 30px;
    .w(auto);
    margin-left: 5px;
    .c-pointer;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter:         drop-shadow(5px 5px 5px #222);
    @media @small {
      height: 40px;
    }
    @media @medium {
      margin-left: 10px;
      height: 45px;
    }
    &:hover, &:focus {
      -webkit-filter: brightness(70%);
      filter: brightness(70%);
    }

  }
}
#responsive_wrapper {

  .center-text;
  .w(100%);
  @media @medium {
    .absolute;
    right: 0;
    bottom: 0;
    transform: translateX(calc(100%));
    //transform: translateX(calc(100% + 50px)) translateY(-50%);

  }
}
