@import "variables";
@import '../../../node_modules/@angular/material/prebuilt-themes/indigo-pink.css';

//media queries
@x-small: ~'only screen and (max-width: 767px)';
@small: ~'only screen and (min-width: 768px)';
@medium: ~'only screen and (min-width: 992px)';
@large: ~'only screen and (min-width: 1400px)';
@just-small: ~'only screen and (min-width: 768px) and (max-width: 991px)';



//layout
.d-inline {
  display: inline-block;
}
.d-block {
  display: block;
}
.d-none {
  display: none;
}
.c-pointer {
  cursor: pointer;
}
.center-text {
  text-align: center;
}
.list-style-none {
  list-style: none;
}
.w(@how_many) {
  width: @how_many;
}
.w-calc(@how_many, @less) {
  width: calc(@how_many - @less);
}
.font-bold {
  font-weight: bold;
}
.basic_transition {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
}

.custom_transition (@how) {
  -webkit-transition: @how;
  transition: @how;
  -moz-transition: @how;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.fixed {
  position: fixed;
}
.rotate(@deg) {
  -moz-transform:rotate(@deg) !important;
  -webkit-transform:rotate(@deg) !important;
  -o-transform:rotate(@deg) !important;
  -ms-transform:rotate(@deg) !important;
  transform:rotate(@deg) !important;
}

//animation
.keyframes (@name; @what-to-do) {

  @-webkit-keyframes @name {
    @what-to-do();
  }
  @-ms-keyframes @name {
    @what-to-do();
  }
  @keyframes @name {
    @what-to-do();
  }
  @-moz-keyframes @name {
    @what-to-do();
  }
  @-o-keyframes @name {
    @what-to-do();
  }
}

.animation(@arguments) {
  -webkit-animation: @arguments;
  -moz-animation: @arguments;
  animation: @arguments;
}
      //btn animation
.btn {
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: none;
  .c-pointer;
  padding: 10px 20px;
  display: inline-block;
  margin: 15px 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.btn:after {
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.roll_icons_footer(@deg) {
  opacity: 1 !important;
  .rotate(@deg);
  .custom_transition(1400ms all ease);
}
.roll_icons_after (@content_icon; @color) {
  .absolute;
  content: @content_icon;
  .w(44px);
  color: @color;
  font-size: 34px;
  opacity: 0;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  line-height: 44px;
  border-radius: 50%;
  background-color: darken(@main-color, 20%);
}
.aftersection (@color){
  .w(0);
  height: 0;
  .absolute;
  content: "";
  bottom: -100px;
  left: 50%;
  border-style: solid;
  border-width: 50px 250px 50px;
  border-color: transparent transparent @color transparent;
  transform: rotate(180deg) translateX(50%);
}
